<!-- Forma modal para la ventana emegente de nueva receta-->

<form class="form-horizontal" role="form" name="fp_producir" action="{$fsc->url()}&prod='producir'" method="post">
    <input type="hidden" name="fp_idreceta" value="{$fsc->receta->idreceta}">
    <input type="hidden" name="fp_idarticulo" value="{$fsc->receta->idarticulo}">
    <div class="modal" id="modal_producir">
       <div class="modal-dialog">
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Proceso de Producción</h4>
                <p class="help-block">
                   Forma para generar articulos compuestos a partir de Receta..
                </p>
             </div>
             <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Ref:</label>
                        <div class="col-sm-10">
                            <h4 col-sm-10 >&nbsp;{$fsc->receta->idreceta}: &nbsp;{$fsc->receta->descripcion}</h4>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Articulo Resultante</label>
                        <div class="col-sm-10">
                        <input class="form-control" type="text" name="articulo_res" autocomplete="off" value="{$fsc->receta->articulo_res}" readonly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group">
                    <label class="col-sm-2 control-label">Cantidad:</label>
                    <div class="col-sm-2">
                        <input class="form-control" type="text" name="fp_cantidad" autocomplete="off" required/>
                    </div>
                    </div>

                </div>
             <div class="modal-footer">
                <button class="btn btn-sm btn-primary" type="submit">
                   <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Guardar
                </button>
             </div>
          </div>
       </div>
    </div>
 </form>
