<!-- Forma modal para la ventana emegente para eliminar de nueva receta-->

<form class="form-horizontal" role="form" name="f_eliminar_rect" action="{$fsc->url()}&eliminar='TRUE'" method="post">
    <input id="fer_referencia" name="refe"  value="" type="hidden" />
    <div class="modal" id="modal_eliminar">
       <div class="modal-dialog">
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title">Eliminar Receta</h2>
              </div>
             <div class="modal-body">
                    <div class="text-center">
                        <h4>Confirme para Eliminar...</h4>
                    </div>
              </div>
             <div class="modal-footer">
                   <button class=""btn btn-sm btn-danger" " type="submit">
                   <span class="glyphicon glyphicon-trash"></span>&nbsp; Eliminar
                </button>
             </div>
          </div>
       </div>
    </div>
 </form>
