{include="header"}
<script type="text/javascript" src="{$fsc->get_js_location('nueva_venta.js')}"></script>
<!--Bontones del top de recargar, y nueva receta-->
<div class="container-fluid" style="margin-bottom: 10px;">
   <div class="row">
      <div class="col-xs-12">
         <div class="btn-group hidden-xs">
            <a class="btn btn-sm btn-default" href="index.php?page=acompuesto" title="Regresar a Recetas">
               <span class="glyphicon glyphicon-arrow-left"></span> Atras
            </a>
        </div>
        <div class="btn-group">
            <a id="produccion" class="btn btn-sm btn-info" href="#">
               <span class="glyphicon glyphicon-shopping-cart"></span>
               <span class="hidden-xs">&nbsp;Producir</span>
            </a>
        </div>
      </div>
   </div>
</div>

<!--bloque forma de datos de la nueva receta -->

<div class="container-fluid" style="margin-bottom: 10px;">
       <!--Encabezado de productos compuestos-->
       <div class="row" >
         <div class="col-xs-12">
           <h2><span class="glyphicon glyphicon-list"></span>&nbsp;Nombre Receta</h2>
         </div>
       </div>
      <!--Forma de entrada de Datos de la receta-->
      <form id="nreceta" name="f_new_receta" action="{$fsc->url()}" method="post">
        <div class="row" style="margin-top: 15px;">
          <div class="form-group">
                <div class="col-sm-4"><b>Descripción</b>
                    <input type="text" name="nr_descripcion" class="form-control" placeholder="Descripción de la  Receta" autocomplete="off" required=""/>
                </div>
                <div class="col-sm-4"><b>Articulo Resultante</b>
                    <input type="text" name="nr_articulo_res" class="form-control" placeholder="Nombre Articulo Resultante" autocomplete="off" readonly="readonly" required=""/>
                </div>
                <div class="col-sm-2"><b>Cantidad</b>
                    <input type="text" name="nr_cantidad" class="form-control" placeholder="Cantidad" autocomplete="off" required=""/>
                </div>
          </div>
        </div>
      <div class="row" style="margin-top: 10px;">
        <!-- Bloque de Almacenes -->
        {if="$fsc->multi_almacen"}
        <div class="col-sm-2">
            <div class="form-group">
                <a href="{$fsc->almacen->url()}">Almacén</a>:
                <select name="nr_almacening" class="form-control" id="codalmacen" onchange="usar_almacen()">
                    {loop="$fsc->almacen->all()"}
                    {if="$value->is_default()"}
                    <option value="{$value->codalmacen}" selected="">{$value->nombre}</option>
                    {else}
                    <option value="{$value->codalmacen}">{$value->nombre}</option>
                    {/if}
                    {/loop}
                </select>
            </div>
        </div>
        {else}
        <div class="col-sm-2">
            <input type="hidden" name="almacen" value="{$fsc->empresa->codalmacen}" id="codalmacen"/>
        </div>
        {/if}
        {if="$fsc->multi_almacen"}
        <div class="col-sm-2">
            <div class="form-group">
                <a href="{$fsc->almacen->url()}">Almacén</a>:
                <select name="nr_almacening" class="form-control" id="codalmacen" onchange="usar_almacen()">
                    {loop="$fsc->almacen->all()"}
                    {if="$value->is_default()"}
                    <option value="{$value->codalmacen}" selected="">{$value->nombre}</option>
                    {else}
                    <option value="{$value->codalmacen}">{$value->nombre}</option>
                    {/if}
                    {/loop}
                </select>
            </div>
        </div>
        {else}
        <div class="col-sm-2">
            <input type="hidden" name="almacen" value="{$fsc->empresa->codalmacen}" id="codalmacen"/>
        </div>
        {/if}

      <div class="col-sm-4"><b>Observaciones</b>
        <textarea name="nr_observaciones" class="form-control" placeholder="Observaciones"></textarea>
      </div>
      </div>
  </form>
</div>
  <!-- Bloque de las lineas de ingredientes -->
<div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#lineas" aria-controls="lineas" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                <span class="hidden-xs">&nbsp;Líneas</span>
            </a>
        </li>
        <li role="presentation">
            <a href="#detalles" aria-controls="detalles" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                <span class="hidden-xs">&nbsp;Detalles</span>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="lineas">
            {include="lineas_ingredientes"}
        </div>
        <div role="tabpanel" class="tab-pane" id="detalles"></div>
    </div>



{include="footer"}
